<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_signup.css') }}">
    <script src="{{ url_for('static', filename='scripts/validation.js') }}" defer></script>
</head>

<body>
    <div class="wrapper">
        <h1>SIGNUP</h1>
        <form method="POST" action="{{ url_for('auth.signup') }}">
            <div class="input-group">
                <label for="name">👤</label>
                <input type="text" name="name" id="name" placeholder="Full Name" required />
                <span class="error-message" id="name-error"></span>
            </div>

            <div class="input-group">
                <label for="dob">📅</label>
                <input type="date" name="dob" id="dob" required />
                <span class="error-message" id="dob-error"></span>
            </div>

            <div class="input-group">
                <label for="phone">📱</label>
                <input type="text" name="phone" id="phone" placeholder="Phone Number" required />
                <span class="error-message" id="phone-error"></span>
            </div>

            <div class="input-group">
                <label for="address">🏠</label>
                <input type="text" name="address" id="address" placeholder="Address" required />
                <span class="error-message" id="address-error"></span>
            </div>

            <div class="input-group">
                <label for="email">@</label>
                <input type="email" name="email" id="email" placeholder="Email" required />
                <span class="error-message" id="email-error"></span>
            </div>

            <div class="input-group">
                <label for="passphrase">🔒</label>
                <input type="password" name="passphrase" id="passphrase" placeholder="Passphrase" required />
                <span class="error-message" id="passphrase-error"></span>
            </div>

            <div class="input-group">
                <label for="repeat_passphrase">🔁</label>
                <input type="password" name="repeat_passphrase" id="repeat_passphrase" placeholder="Repeat Passphrase"
                    required />
                <span class="error-message" id="repeat_passphrase-error"></span>
            </div>

            <button type="submit">SIGN UP</button>
        </form>

        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
    </div>
</body>

</html>